
textarea
{
		font-family: Catull; 
		font-style:italic; 
		background-color: #efefef;
		 border-radius: 5px;
		font-size: 1em; 
		font-weight: bold; 
		color: #111;
		margin-left:0.5%; 
		width: 89%; 
		height: 13%; 
		border:1px solid #999;
}
button.send
{
			margin-left:0.5%; 
			width: 8.5%; 
			height: 13%; 
			vertical-align:top;
			color:#fff;
			font-size:1.8em;
		
			font-weight: bold; 
			
			background-color:#075072;
			border-radius: 15px;
			font-family:Elephant;
			box-shadow:0px 0px 3px 3px #777;

text-shadow: 2px 2px #000;
transition: 0.010s;


}

button.send:hover
{
			margin-left:0.5%; 
			width: 8.5%; 
			height: 13%; 
			vertical-align:top;
			color:#eee;
			font-size:1.8em;
		
			font-weight: bold; 
				#background: -webkit-linear-gradient(left top,#a00,#b00); /* For Safari 5.1 to 6.0 */
		#	background: -o-linear-gradient(bottom right, #a00,#b00); /* For Opera 11.1 to 12.0 */
	#		background: -moz-linear-gradient(bottom right,#a00,#b00); /* For Firefox 3.6 to 15 */
	#	background: linear-gradient(to bottom right, #a00 ,#b00); /* Standard syntax (must be last) */ 
			background-color:#075072;
			border-radius: 15px;
			font-family:Elephant;
box-shadow:0px 0px 5px 5px #777;
text-shadow: 3px 3px #000;

}
button.send_image
{
			margin-left:0.5%; 
			width: 13%; 
			height: 4.5%; 
			vertical-align:top;
			color:#fff;
			font-size:1em;
	background:#fff
			background: -webkit-linear-gradient(left top,#a00,#b00); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #a00,#b00); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right,#a00,#b00); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom right, #a00 ,#b00); /* Standard syntax (must be last) */ 
			border-radius: 2px;
			
			box-shadow:0px 0px 3px 3px #777;


transition: 0.010s;


}

button.send_image:hover
{
			margin-left:0.5%; 
			width: 13%;
			height: 4.5%; 
			vertical-align:top;
			color:#eee;
			font-size:0.7em;
		
			font-weight: bold; 
				background: -webkit-linear-gradient(left top,#a00,#b00); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #a00,#b00); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right,#a00,#b00); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom right, #a00 ,#b00); /* Standard syntax (must be last) */ 
			
			border-radius: 2px;
			font-family:Elephant;
box-shadow:0px 0px 5px 5px #777;
text-shadow: 3px 3px #000;

}
div.search_and_print
{
			height: 63.5%;
			width:98%;
			border: 2px solid #999;
			margin-left:0.5%;
			padding: 5px; 
			overflow-y: auto; 
			margin-top: 0%; 
			background-color: #fff;
			box-shadow : 10px 10px 2px 2px ##ddd;
			border-radius: 15px;
			}
::-webkit-input-placeholder
{
		color: #666;
		font-size: 1.8em;
		
}
::-moz-placeholder
{
		color: #000;
		font-size: 1.8em;
		font-weight:bold;
		text-shadow: 0.5px 0px #000;
}
::-ms-placeholder
{
		color: #000;
		font-size: 1.8em;
		font-weight:bold;
}
::-o-placeholder
{
		color: #666;
		font-size: 1.8em;
}


button.login
{
		width: 8.5%;
		height: 6.3%;
		color: #000;
		font-weight: bold;
		font-size: 12.5pt;
	 background: -webkit-linear-gradient(left top,#ddd,#eee); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #ddd,#eee); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right,#ddd,#eee); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, #ddd ,#eee); /* Standard syntax (must be last) */ 
		border-radius: 10px;
		box-shadow: 2px 1px thin groove;
		align:center;
		margin-left: 2%;
		padding-left: 20px;
		padding-right:20px;
		padding-top:0.3%;
		padding-bottom:5px;
		transition: 0.001s;
		vertical-align:center;

}

button.login:hover
{
		width: 8.5%;
		height: 6.3%;
			color: #f22;
		font-weight: bold;
		font-size: 13pt;
	 background: -webkit-linear-gradient(left top,#ccc,#ddd); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #ccc,#ddd); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right,#ccc,#ddd); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, #ccc ,#ddd); /* Standard syntax (must be last) */ 
		border-radius: 10px;
		box-shadow: 2px 1px thin groove;
		align:center;
		margin-left: 2%;
		padding-left: 20px;
		padding-right:20px;
		padding-top:0.3%;
		padding-bottom:5px;
		box-shadow : inset 1px 1px 1px 1px #fbb;
}


button.signup
{
				width: 11.5%;
			height: 6.3%;
			color: #000;
			font-weight: bold;
			font-size: 12.5pt;
		 background: -webkit-linear-gradient(left top,#ddd,#eee); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #ddd,#eee); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right,#ddd,#eee); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, #ddd ,#eee); /* Standard syntax (must be last) */ 
			border-radius: 10px;
			box-shadow: 2px 1px thin groove;
			align:center;
			margin-left: 2%;
			padding-left: 20px;
		padding-right:20px;
			padding-top:0.3%;
		padding-bottom:5px;
			transition: 0.001s;

}
button.signup:hover
{
			width: 11.5%;
			height: 6.3%;
			color: #f00;
			font-weight: bold;
			font-size: 13pt;
			 background: -webkit-linear-gradient(left top,#ccc,#ddd); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #ccc,#ddd); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right,#ccc,#ddd); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, #ccc ,#ddd); /* Standard syntax (must be last) */ 
			border-radius: 10px;
			
			align:center;
			margin-left: 2%;
			padding-left: 20px;
		padding-right:20px;
		padding-top:0.3%;
		padding-bottom:5px;
			box-shadow : inset 1px 1px 1px 1px #fcc;
			
}
button.signup[title]:hover:after
{
			width: 11.5%;
			height: 7.5%;
			color: #f00;
			font-weight: bold;
			font-size: 13pt;
			 background: -webkit-linear-gradient(left top,#ccc,#ddd); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #ccc,#ddd); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right,#ccc,#ddd); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, #ccc ,#ddd); /* Standard syntax (must be last) */ 
			border-radius: 10px;
			
			align:center;
			margin-left: 2%;
			padding-left: 20px;
		padding-right:20px;
		padding-top:0.3%;
		padding-bottom:5px;
			box-shadow : inset 1px 1px 1px 1px #fcc;
			
}


button.stranger_chat
{
				width: 17%;
			height: 6.5%;
			color: #fff;
			font-weight: bold;
			font-size: 12pt;
		background: -webkit-linear-gradient(left top,#a00,#b00); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #a00,#b00); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right,#a00,#b00); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom right, #a00 ,#b00); /* Standard syntax (must be last) */ 
			border-radius: 10px;
			
		align:center;
		margin-left: 2%;
		padding-left: 20px;
		padding-right:20px;
		padding-top:0.7%;
		padding-bottom:0.7%;
		box-shadow : inset 1px 1px 1px 1px #666;
		

}


span.header_logo_button_background
{
	
			 background: -webkit-linear-gradient(left top,#add8e6,#add8f7); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, #add8e6,#add8f7); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right,#add8e6,#add8f7); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right,#add8e6,#add8f7); /* Standard syntax (must be last) */ 
		 box-shadow: rgba(200,200,200,0.7) 0 5px 11px -1px; 
		 border: 2px solid #d5d5d5;
		 padding:12px; 
		 text-align:left;
		 font-size: 1.8em; 
		 margin-left:2%;
		
		 padding-right:1.5%;
		 padding-bottom:1.2%;  
		
		 border-radius: 10px;
		
		 
		 color:#f00;
		 font-weight:bold;
		 font-style:italic;
		 text-shadow: 1px 1px #777;

}